firstPython/data_visualizaion/__pycache__/die.cpython-38.pyc
firstPython/web/learning_log/learning_logs/__pycache__/__init__.cpython-38.pyc
firstPython/web/learning_log/learning_logs/__pycache__/admin.cpython-38.pyc
firstPython/web/learning_log/learning_logs/__pycache__/models.cpython-38.pyc
firstPython/web/learning_log/learning_log/__pycache__/__init__.cpython-38.pyc
firstPython/web/learning_log/learning_log/__pycache__/settings.cpython-38.pyc
firstPython/web/learning_log/learning_log/__pycache__/urls.cpython-38.pyc
firstPython/web/learning_log/learning_log/__pycache__/wsgi.cpython-38.pyc
